<!--
  Generated template for the BuscadorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="myapp3"  style="text-align: center">
    <ion-title>Tipos de Menú</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <ion-list *ngIf="temp && temp.length > 0; else no_tipos">
    <!--cat = categoria-->
    <button ion-item *ngFor="let cat of temp" (click)="goToAlmuerzoPorTipo(cat.tipo,cat.id)" detail-push>
      <ion-icon name="nutrition"></ion-icon> <!-- Considerar cambiarlo por una imagen diseñada para cada tipo de menu, por ejemplo, logo de junaeb, etc -->
      {{cat.tipo+" "+"("+cat.count+")"}}

    </button>
  </ion-list>

</ion-content>

  <ng-template #no_tipos>
    <ion-list *ngIf="temp && temp.length == 0">
      <ion-row >
        <ion-col>
          <h5 text-center>Lo sentimos </h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-6>
          <img [src]="'../assets/img/chefcito.jpeg'" >
        </ion-col>
        <ion-col col-auto> </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col>
          <p style="font-weight: bold; color: #222222">No hay menús disponibles el día de hoy</p>
        </ion-col>
      </ion-row>
    </ion-list>
  </ng-template>
