<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Probando cosillas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item-group *ngFor="let c of casinos">

      <ion-item-divider color="dark">
        {{c.nombre}}
      </ion-item-divider>
      <ion-item *ngFor="let m of c.tipo_menu">{{m}}</ion-item>

  </ion-item-group>

  <!--<p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
  -->
</ion-content>
