<!--
  Generated template for the FAlmuerzoPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="casino">{{casino.casino}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding-top *ngIf="casino">

  <ion-item-group *ngFor="let c of casino.parsed_response">

      <ion-item-divider color="dark">
      <ion-row center>  
        <ion-col col-9 align-self-center>         
          <div text-center>
            <h1>{{c.tipo}}</h1> 
          </div>
        </ion-col>  
        <ion-col col-auto> 

        <div text-center>

          <button ion-button (click)="openModal(c.id_plato)" icon-only color="secondary" round small>
            <ion-icon name="information-circle"  >
            </ion-icon>
          </button>
          
        </div>
          
        </ion-col>
      </ion-row> 
      </ion-item-divider>

      <ion-slides style="height: 75px" pager>
            <ion-slide *ngFor="let m of c.menus"><h5>{{m.plato}}</h5></ion-slide>
  		</ion-slides>

  </ion-item-group>





</ion-content>
